    <footer>
      <div class="container">
        <f:cObject typoscriptObjectPath="lib.field_site_footer" />
      </div>                                                                                                                                                                                                                                                   
    </footer>
    <div class="footer-nav">
        <div class="container">
            <f:cObject typoscriptObjectPath="lib.footer_menu" /> 
        </div>
    </div>
  
